<%- include("../partials/header.ejs") %>
    <section class="container">
        <section class="jumbotron">
            <h1 class="display-4">Sistema de cadastramento de alunos</h1>
            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut voluptates omnis sunt possimus
                molestias, dignissimos quisquam provident veritatis excepturi, amet perspiciatis nulla, praesentium
                laborum magnam? Distinctio nihil earum similique vero animi laborum non autem dolore unde! Eius illo
                ullam laudantium, in natus aut cumque vero quae eveniet ex nemo inventore?
            </p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="listaAlunos/cadastrarAlunos" role="button">Cadastrar</a>
            </p>
        </section>

    </section>



    <%- include("../partials/footer") %>